<configuration>
    <property>
            <name>dfs.namenode.name.dir</name>
            <value>/data/nn</value>
    </property>

    <property>
            <name>dfs.datanode.data.dir</name>
            <value>/data/dn</value>
    </property>

    <property>
            <name>dfs.replication</name>
            <value>3</value>
    </property>
</configuration>
